@model TUITY_STORE.Models.Gmail
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserDashbord";
}


<head>
    <title>SendMail</title>
</head>

<body>

    <div class="row col-md-8 offset-md-2">
        @using (Html.BeginForm("SendMail", "Gmail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form>
                <table>
                    <tr>
                        <td>
                            To:
                        </td>
                        <td style="width:80px;">
                            @Html.TextBoxFor(model => model.To)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Subject:
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Subject)
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            Body:
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Body)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" value="Send" />
                        </td>

                    </tr>

                </table>
                <span style="color:green">@ViewBag.Message </span>

            </form>
        }



    </div>
</body>
